  <ion-grid [fixed]="true">
    <ng-container *ngIf="SearchedReferences && SearchedReferences.length != 0; else noPosts">
      <ion-row>
        <ion-col size="6" *ngFor="let reference of SearchedReferences">
          <ion-card (click)="SelectReference(reference)">
            <ion-img src="{{reference.image}}"></ion-img>
            <ion-card-header>
              <div style="display: flex; flex-direction: row; align-items: center;">
                <ion-img class="img-drapeau-france" src="../../../assets/img/drapeau-france.png" />
                <p>{{reference.name}}</p>
              </div>
              <div style="display: flex; justify-content: flex-end;">
                <p>{{reference.idExtension}}</p>
              </div>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #noPosts>
      <div *ngIf="!loading">
        Aucune annonce trouvée.
      </div>
    </ng-template>
  </ion-grid>
  <ng-template [ngIf]="loading">
    <app-skeleton-grid></app-skeleton-grid>
  </ng-template>
