<ion-grid [fixed]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6"  *ngFor="let reference of ReferencesList$ | async" (click)="SelectReference(reference)">
        <div class="postCard">
          <ion-img src="{{reference.image}}/high.webp"></ion-img>
          <p>{{reference.idExtension}}</p>
          <p>{{reference.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>
<ng-template [ngIf]="loading">
  <app-skeleton-grid></app-skeleton-grid>
</ng-template>
