<ion-content [fullscreen]="true" id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-segment value="sale" mode="md" >
        <ion-segment-button (click)="saleSelected = true" value="sale">
          <ion-label>Vente</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="saleSelected = false" value="search">
          <ion-label>Recherche</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
   <app-sale *ngIf="saleSelected"></app-sale>
    <app-search *ngIf="!saleSelected"></app-search>
</ion-content>
