<ion-grid [fixed]="true">
  <ion-grid>
    <ng-container *ngIf="SearchPostlist && SearchPostlist.length; else noPosts">
      <ion-row *ngIf="SearchPostlist.length; else noPosts">
        <ion-col size="6" *ngFor="let post of SearchPostlist; index as position">
          <app-search-post-card [searchPost]="post"></app-search-post-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-infinite-scroll *ngIf="!loading" threshold="100px" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content
        loading-spinner="bubbles"
        loading-text="Loading ..">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

  <ng-template #noPosts>
    <div *ngIf="!loading">
      Aucune annonce trouvée.
    </div>
  </ng-template>
</ion-grid>
<ng-template [ngIf]="loading">
  <app-skeleton-grid></app-skeleton-grid>
</ng-template>

