<ion-grid [fixed]="true">
  <ion-grid>
    <ng-container *ngIf="searchPosts$ | async as posts">
      <ion-row *ngIf="posts.length; else noPosts">
        <ion-col size="6" *ngFor="let post of posts; index as position">
          <app-search-post-card [searchPost]="post"></app-search-post-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ng-template #noPosts>
    <div>
      Aucune annonce trouvée.
    </div>
  </ng-template>
</ion-grid>
<ng-template [ngIf]="loading">
  <app-skeleton-grid></app-skeleton-grid>
</ng-template>

