<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title align="center">Annonce de recherche</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="this.SearchPost$ | async as searchPost">

    <div class="card" align="center" style="margin-top: 10px">
      <ion-img src="{{searchPost.image}}" style="width: 150px; margin: auto"></ion-img>
    </div>

    <div class="cardInformations">
      <ion-item lines="full">
        <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
        SuperDresseur45
        </ion-label>
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-item>

      <div class="cardMainInformations">
        <h4><b>{{searchPost.name}}</b></h4>
        <p style="font-size: 14px;"><b>Etat :</b> {{searchPost.grading.name}}</p>
        <p style="font-size: 20px;"><b>{{searchPost.price}} €</b></p>
        <p style="font-size: 14px;">Extension : IdExtension | Nom Extension</p>
      </div>

      <div class="btnActions">
        <ion-button expand="block" (click)="redirectToPaymentModule()">Acheter <ion-icon slot="end" name="cart-outline"></ion-icon></ion-button>
        <ion-button expand="block" fill="outline">Faire une offre<ion-icon slot="end" name="pricetag-outline"></ion-icon></ion-button>
        <ion-button expand="block" fill="outline">Proposer un échange<ion-icon slot="end" name="swap-horizontal"></ion-icon></ion-button>
        <ion-button expand="block" fill="outline" color="medium">Favoris  <ion-icon slot="end" name="heart-outline"></ion-icon></ion-button>
        <ion-button expand="block" color="danger">Signaler<ion-icon slot="end" name="warning"></ion-icon></ion-button>
      </div>
      <ion-item-divider color="white"></ion-item-divider>
      <ion-item-divider></ion-item-divider>

      <div style="padding-top: 5%;" class="cardMainInformations">
        <ion-label text-wrap>
            <b>Remarques sur l'article :</b>
            <br/>
            <p style="padding-top: 2%;" class="ion-label-paragraphe">{{searchPost.remarks}}</p>
        </ion-label>
      </div>

      <ion-item-divider color="white"></ion-item-divider>
      <ion-item-divider></ion-item-divider>
    </div>


  <div class="otherUserPosts">
    <p>Autres recherches de ce vendeur :</p>
    <div style="width: 100%; text-align: right">
      <a>Tout voir →</a>
    </div>
  </div>
  <swiper-container slides-per-view="auto" free-mode="true" class="pb-3">
    <swiper-slide *ngFor="let searchPost of UserSearchPost$ | async as user" style="margin: 15px; max-width: 200px;">
      <app-search-post-card [searchPost]="searchPost"></app-search-post-card>
    </swiper-slide>
  </swiper-container>

</div>
</ion-content>
<!-- <ion-footer>
    <ion-button
      type="submit"
      expand="full"
      size="large"
      color="primary"
      class="ion-activatable ripple-parent rectangle">
      Acheter
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
</ion-footer> -->

