.cardInformations{
  margin-left: 5%;
  margin-right: 5%;
}

.cardInformations p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.userCard{
  border-bottom: lightslategray 1px solid;
}

.title{
  font-size: 1.1em;
  font-weight: bolder;
}

.grading{
  font-style: italic;
}

.btnActions{
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.otherUserPosts{
  margin-left: 5%;
  margin-right: 5%;
}

.otherUserPosts p{
  font-size: 1.3em;
}
