<!-- <div class="postCard">
  <ion-img src="{{searchPost.searchPostItem.image}}/high.webp"></ion-img>
  <p>{{searchPost.searchPostItem.itemName}}</p>
  <p>Etat : {{searchPost.searchPostGrading.gradingName}}</p>
  <p>{{searchPost.searchPostPrice}} €</p>
</div> -->
<ion-card>
  <img src="{{searchPost.searchPostItem.image}}/high.webp"/>
  <ion-card-header>
    <p>{{searchPost.searchPostItem.itemName}}</p>
    <p>{{searchPost.searchPostPrice}} €</p>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>{{searchPost.searchPostItem.item_extension}}</p>
      <p>Etat : {{searchPost.searchPostGrading.gradingName}}</p>
    </div>
    <div>
      <ion-icon name="heart-outline" size="large"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
