<ion-card (click)="ViewSearchPost()">
  <img src="{{searchPost.image}}"/>
  <ion-card-header>
    <p>{{searchPost.name}}</p>
    <p>{{searchPost.price}} €</p>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>{{searchPost.itemExtension}}</p>
      <p>{{searchPost.grading.name}}</p>
    </div>
    <div>
      <ion-icon *ngIf="!this.searchPost.liked" name="heart-outline" size="large" (click)="LikeSearchPost(this.searchPost.id, $event)"></ion-icon>
      <ion-icon *ngIf="this.searchPost.liked" name="heart" color="danger" size="large" (click)="UnLikeSearchPost(this.searchPost.id, $event)"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
