<ion-card class="card-container">
  <img [src]=salePost.salePicturePosts />
  <ion-card-header>
    <ion-card-title class="card-name">{{salePost.name}}</ion-card-title>
    <ion-card-subtitle class="card-price">{{salePost.price}} €</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>{{ salePost.idExtension }} - {{salePost.libelleExtension}}</p>
    </div>
    <div>
      <ion-icon *ngIf="!this.salePost.liked" name="heart-outline" size="large" (click)="LikeSalePost(this.salePost.id, $event)"></ion-icon>
      <ion-icon *ngIf="this.salePost.liked" name="heart" color="danger" size="large" (click)="UnLikeSalePost(this.salePost.id, $event)"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
