.postCard{
  padding: 5px;
  background-color: #dfece9;
}

ion-card{
  margin: 0;
  max-width: 200px;
}

ion-card-header{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ion-card-header p {
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  color: #0D5696;
}

ion-card-content{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ion-icon{
}
