<ion-content [fullscreen]="true" id="main-content">
  <ion-header>
    <app-search-reference ></app-search-reference>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-segment value="sale" mode="md" >
        <ion-segment-button (click)="saleSelected = true" value="sale">
          <ion-label>Vente</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="saleSelected = false" value="search">
          <ion-label>Recherche</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <app-add-reference-post (selectRef)="redirectToAddPost($event)" [ReferencesResults$]="this.searchResults$" [loading]="this.loading"></app-add-reference-post>

</ion-content>
