<div style="margin-left: 10px; margin-right: 10px;">
  <div style="font-size:22px">Dernières annonces de vente</div>
  <div style="width: 100%; text-align: right">
    <a (click)="navigateTo()">Tout voir →</a>
  </div>
  
  <swiper-container style="padding-bottom: 10px;" slides-per-view="auto" free-mode="true">
    <swiper-slide style="max-width: 200px;" *ngFor="let salePost of salePosts">
      <app-sale-post-card style="max-width: 200px;" [salePost]="salePost"></app-sale-post-card>
    </swiper-slide>
  </swiper-container>
</div>